In [132]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')
#df = pd.read_excel("C:/Users/meharDesktop/Dell/Customer_Segmentation_RFM/Hands_ON/Online_Retail.xlsx")

df = pd.read_excel(r"C:\Users\mehar\Online_Retail.xlsx")
df.head()
df1 = df

ModuleNotFoundError: No module named 'renders'

In [5]:
#Number of unique countries in current dataset
df1.Country.nunique()

38

In [6]:
#List of unique countries in the dataset
df1.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [7]:
customer_country=df1[['Country','CustomerID']].drop_duplicates()

customer_country.groupby(['Country'])['CustomerID'].aggregate('count').reset_index().sort_values('CustomerID', ascending=False)

                 Country  CustomerID
36        United Kingdom        3950
14               Germany          95
13                France          87
31                 Spain          31
3                Belgium          25
33           Switzerland          21
27              Portugal          19
19                 Italy          15
12               Finland          12
1                Austria          11
25                Norway          10
24           Netherlands           9
0              Australia           9
6        Channel Islands           9
9                Denmark           9
7                 Cyprus           8
32                Sweden           8
20                 Japan           8
26                Poland           6
34                   USA           4
5                 Canada           4
37           Unspecified           4
18                Israel           4
15                Greece           4
10                  EIRE           3
23                 Malta           2
35  United Arab Emirates           2
2                Bahrain           2
22             Lithuania           1
8         Czech Republic           1
21               Lebanon           1
28                   RSA           1
29          Saudi Arabia           1
30             Singapore           1
17               Iceland           1
4                 Brazil           1
11    European Community           1
16             Hong Kong           0

In [8]:
#From the data, we see that 90%of the customers are from UK. so restricting the data to UK
df1 = df1.loc[df1['Country'] == 'United Kingdom']

In [9]:
#to check the missing values in the dataset. 
df1.isnull().sum(axis=0)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     133600
Country             0
dtype: int64

In [10]:
#Removing the missing values from the dataset.
df1 = df1[pd.notnull(df1['CustomerID'])]
df1.isnull().sum(axis=0)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [11]:
#Checking the maximum and minimum values in the UnitPrice column
df1.UnitPrice.min()

0.0

In [12]:
df1.UnitPrice.max()

38970.0

In [13]:
print(df1.Quantity.min())
print(df1.Quantity.max())

-80995
80995

In [14]:
#Quantity cannot be negative, Remove these values from dataset
df1 = df1[(df1['Quantity']>0)]
df1.shape
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354345 entries, 0 to 541893
Data columns (total 8 columns):
InvoiceNo      354345 non-null object
StockCode      354345 non-null object
Description    354345 non-null object
Quantity       354345 non-null int64
InvoiceDate    354345 non-null datetime64[ns]
UnitPrice      354345 non-null float64
CustomerID     354345 non-null float64
Country        354345 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 24.3+ MB

In [15]:
#Now we have just 354345 rows and 8 columns

In [131]:
# # DF TO EXCEL
# from pandas import ExcelWriter

# writer = ExcelWriter('Online_Retail_CLEAN.xlsx')
# df1.to_excel(writer,'Sheet5')
# writer.save()

In [16]:
#Unique value for each column
def unique_counts(df1):
   for i in df1.columns:
       count = df1[i].nunique()
       print(i, ": ", count)
unique_counts(df1)

InvoiceNo :  16649
StockCode :  3645
Description :  3844
Quantity :  294
InvoiceDate :  15615
UnitPrice :  403
CustomerID :  3921
Country :  1

In [17]:
df1.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [18]:
#Adding a column for the total price
df1['TotalPrice'] = df1['Quantity'] * df1['UnitPrice']

In [19]:
#Finding the first and last order dates in the data
df1['InvoiceDate'].min()

Timestamp('2010-12-01 08:26:00')

In [20]:
df1['InvoiceDate'].max()

Timestamp('2011-12-09 12:49:00')

In [122]:
import datetime
import numpy as np

NOW = dt.datetime(2011,12,10)
#NOW = np.datetime64(NOW)
df1['InvoiceDate'] = pd.to_datetime(df1['InvoiceDate'])

In [81]:
#RFM Customer Segmentation

In [97]:
rfmTable = df1.groupby('CustomerID').agg({'InvoiceDate': lambda x: (NOW - x.max()).days, # Recency
                                        'InvoiceNo': lambda x: len(x),      # Frequency
                                        'TotalPrice': lambda x: x.sum()}) # Monetary Value

# milliseconds = int(round(dt.timestamp() * 1000))
# print(milliseconds

rfmTable['InvoiceDate'] = rfmTable['InvoiceDate'].values.astype(int)
rfmTable.rename(columns={'InvoiceDate': 'recency', 
                         'InvoiceNo': 'frequency', 
                         'TotalPrice': 'monetary_value'}, inplace=True)

In [98]:
rfmTable.head()

            recency  frequency  monetary_value
CustomerID
12346.0         325          1        77183.60
12747.0           2        103         4196.01
12748.0           0       4596        33719.73
12749.0           3        199         4090.88
12820.0           3         59          942.34

In [125]:
print(rfmTable['recency'].max())
print(rfmTable['frequency'].max())

373
7847

In [99]:
#Checking the details of the first customer
first_customer = df1[df1['CustomerID']== 12346.0]
first_customer

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.6

In [100]:
(NOW - dt.datetime(2011,1,18)).days==326

True

In [127]:
#Split the metrics into segments using quartiles
quantiles = rfmTable.quantile(q=[0.25,0.5,0.75,1])
quantiles
# quantiles = quantiles.to_dict()
# segmented_rfm = rfmTable

      recency  frequency  monetary_value  r_quartile  f_quartile  m_quartile
0.25     17.0       17.0          300.04         1.0         2.0         2.0
0.50     50.0       41.0          651.82         2.0         3.0         3.0
0.75    142.0       99.0         1575.89         3.0         4.0         4.0
1.00    373.0     7847.0       259657.30         4.0         4.0         4.0

In [102]:
quantiles = quantiles.to_dict()
quantiles

{'frequency': {0.25: 17.0, 0.5: 41.0, 0.75: 99.0},
 'monetary_value': {0.25: 300.03999999999996,
  0.5: 651.8200000000002,
  0.75: 1575.8900000000003},
 'recency': {0.25: 17.0, 0.5: 50.0, 0.75: 142.0}}

In [103]:
segmented_rfm = rfmTable

In [119]:
#Lowest recency and highest frequency and mometary are our best customers
def RScore(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
def FMScore(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [121]:
args=('recency',quantiles,)
print(args)

('recency', {'recency': {0.25: 17.0, 0.5: 50.0, 0.75: 142.0}, 'frequency': {0.25: 17.0, 0.5: 41.0, 0.75: 99.0}, 'monetary_value': {0.25: 300.03999999999996, 0.5: 651.8200000000002, 0.75: 1575.8900000000003}})

In [129]:
segmented_rfm['r_quartile'] = segmented_rfm['recency'].apply(RScore, args=('recency',quantiles,))
segmented_rfm['f_quartile'] = segmented_rfm['frequency'].apply(FMScore, args=('frequency',quantiles,))
segmented_rfm['m_quartile'] = segmented_rfm['monetary_value'].apply(FMScore, args=('monetary_value',quantiles,))
segmented_rfm.head()

,recency,frequency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
CustomerID,,,,,,,
12346.0,325,1,77183.60,4,4,1,441
12747.0,2,103,4196.01,1,1,1,111
12748.0,0,4596,33719.73,1,1,1,111
12749.0,3,199,4090.88,1,1,1,111
12820.0,3,59,942.34,1,2,2,122

In [107]:
#Add a new column to combine RFM score
segmented_rfm['RFMScore'] = segmented_rfm.r_quartile.map(str) \
                            + segmented_rfm.f_quartile.map(str) \
                            + segmented_rfm.m_quartile.map(str)
segmented_rfm.head()

,recency,frequency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
CustomerID,,,,,,,
12346.0,325,1,77183.60,4,4,1,441
12747.0,2,103,4196.01,1,1,1,111
12748.0,0,4596,33719.73,1,1,1,111
12749.0,3,199,4090.88,1,1,1,111
12820.0,3,59,942.34,1,2,2,122

In [128]:
segmented_rfm[segmented_rfm['RFMScore']=='111'].sort_values('monetary_value', ascending=False).head(100)

,recency,frequency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
CustomerID,,,,,,,
18102.0,0,431,259657.30,1,1,1,111
17450.0,8,337,194550.79,1,1,1,111
17511.0,2,963,91062.38,1,1,1,111
16684.0,4,277,66653.56,1,1,1,111
14096.0,4,5111,65164.79,1,1,1,111
13694.0,3,568,65039.62,1,1,1,111
15311.0,0,2379,60767.90,1,1,1,111
13089.0,2,1818,58825.83,1,1,1,111
15769.0,7,130,56252.72,1,1,1,111
15061.0,3,403,54534.14,1,1,1,111
14298.0,8,1637,51527.30,1,1,1,111
14088.0,10,589,50491.81,1,1,1,111
17841.0,1,7847,40991.57,1,1,1,111
13798.0,1,349,37153.85,1,1,1,111
16013.0,3,139,37130.60,1,1,1,111
16422.0,17,369,34684.40,1,1,1,111
12748.0,0,4596,33719.73,1,1,1,111
15838.0,11,167,33643.08,1,1,1,111
17389.0,0,213,31833.68,1,1,1,111
13098.0,1,572,28882.44,1,1,1,111
13081.0,11,1028,28337.38,1,1,1,111
13408.0,1,478,28117.04,1,1,1,111
13777.0,0,197,25977.16,1,1,1,111
16210.0,1,123,21086.30,1,1,1,111
17675.0,1,705,20374.28,1,1,1,111
17381.0,8,109,20275.61,1,1,1,111
15039.0,9,1502,19914.44,1,1,1,111
15159.0,1,710,18641.01,1,1,1,111
12901.0,8,116,17654.54,1,1,1,111
14031.0,7,250,17286.86,1,1,1,111
...,...,...,...,...,...,...,...
13969.0,7,626,9053.94,1,1,1,111
13488.0,17,422,8968.31,1,1,1,111
13090.0,8,155,8910.82,1,1,1,111
16033.0,5,1137,8816.40,1,1,1,111
17017.0,2,252,8694.26,1,1,1,111
17243.0,1,400,8676.85,1,1,1,111
14527.0,2,972,8508.82,1,1,1,111
18139.0,17,159,8438.34,1,1,1,111
15358.0,4,551,8347.20,1,1,1,111
16558.0,0,460,8338.49,1,1,1,111
14056.0,1,1106,8214.65,1,1,1,111
16672.0,2,114,8134.94,1,1,1,111
13854.0,8,110,8109.52,1,1,1,111
18109.0,1,444,8052.97,1,1,1,111
14796.0,1,1141,8022.49,1,1,1,111
15290.0,4,204,7943.22,1,1,1,111
17811.0,4,851,7837.73,1,1,1,111
15194.0,3,310,7616.53,1,1,1,111
18172.0,14,189,7561.68,1,1,1,111
13263.0,1,1677,7454.07,1,1,1,111
13018.0,16,458,7277.70,1,1,1,111
18229.0,11,164,7276.90,1,1,1,111
16923.0,12,672,7247.61,1,1,1,111
16873.0,4,279,7123.62,1,1,1,111
13985.0,4,351,7060.13,1,1,1,111
14961.0,10,312,7044.68,1,1,1,111
15023.0,3,562,6802.76,1,1,1,111
18055.0,7,360,6784.19,1,1,1,111
15601.0,11,410,6776.56,1,1,1,111
13576.0,10,126,6717.34,1,1,1,111

In [ ]:
segmented_rfm.